#contactTitle {
  color: #85a291;
  font-size: 5em;
  display: flex;
  justify-content: center;
  padding: 1.8%;
}

li {
  font-weight: 700;
  padding-bottom: 8%;
}

#contactlist {
  list-style: none;
  color: #387780;
  background-color: #85a291;
  height: 180px;
  padding-left: 0;
  padding-top: 5%;
  font-size: 1.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 5px solid #387780;
  border-bottom: 5px solid #387780;
}

#icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 5vw;
  height: auto;
  margin-bottom: 0;
}

.emailbtn {
  border: 5px solid black;
  border-radius: 15px;
  margin: 0;
  padding: 10px;
  margin-bottom: 8%;
  text-align: center;
  color: #387780;
  background-color: #dbd4d3;
}

a {
  text-decoration: none;
  color: #387780;
}
