#homepage {
  display: flex;
  position: relative;
}

.background {
  position: relative;
  height: 80%;
  width: 80%;
  padding-bottom: 10%;
}

.title {
  padding-top: 2.8vh;
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 6rem;
  top: 5vh;
  text-align: center;
  width: 100%;
}

.catchphrase {
  background-color: #190061;
  color: white;
  -webkit-text-stroke: 0.3px #0c0032;
  position: absolute;
  z-index: 2;
  top: 15vh;
  left: 23vw;
  width: 35vw;
  height: auto;
  margin-left: 13%;
  margin-top: 6.7%;
  font-size: 1.3rem;
  text-align: center;
  animation-duration: 2s;
  animation-name: slidein;
}

.aboutme {
  margin: 25px;
  padding: 15px;
  color: whitesmoke;
  font-size: 1.3rem;
  width: 55vw;
  float: right;
  top: 35vh;
  right: 3vw;
  position: absolute;
  background-color: #190061;
  border: #0c0032 3px;
  border-radius: 30px;
  line-height: 2;
}

.button {
  position: absolute;
  bottom: 40%;
  left: 18%;
  font-size: 3rem;
  border-color: #190061;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  color: white;
  box-shadow: 00 6px #240090;
  background-color: #282828;
}

.button:hover {
  background-color: #190061;
}

.button:active {
  background-color: #240090;
  box-shadow: 0 5px #0c0032;
  border: none;
  transform: translateY(4px);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 35vw;
  }
}
