#homepage {
  display: flex;
  position: relative;
}

.background {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 80%;
}

.catchphrase {
  background-color: #190061;
  color: #3500d3;
  -webkit-text-stroke: 0.3px #0c0032;
  position: absolute;
  z-index: 2;
  top: 20vh;
  left: 23vw;
  width: 75vw;
  padding: 0px 10px;
  margin-left: 0px;
  position: absolute;
  font-size: 3vw;
  text-align: center;
  animation-duration: 2s;
  animation-name: slidein;
}

.title {
  position: absolute;
  z-index: 3;
  color: #3500d3;
  font-size: 5vw;
  top: 5vh;
  text-align: center;
  width: 100%;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
