.projectlist {
  text-align: center;
  padding-bottom: 0;
}

.ptitle {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.project {
  background-color: #282828;
  margin-top: 20px;
  border-radius: 10px;
}

#projectCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  height: 300px;
  color: #757780;
}

#projectTitle {
  background-color: #190061;
  border-radius: 13px;
  display: block;
  justify-content: center;
  padding: 0px 10px 5px 15px;
}

#projectTitle,
h1 {
  margin: 10px;
  font-size: 3vw;
  text-align: center;
  color: #387780;
}

.projectImg {
  height: 45vh;
  width: auto;
  padding-bottom: 0;
}

#subtitle {
  font-size: 1.5em;
  text-align: center;
}

#description {
  padding: 16px;
  font-size: 2em;
  width: 45vw;
  margin-bottom: 5%;
}
